# MkDocs + Material theme dependencies
# Install: pip install -r requirements-docs.txt

mkdocs==1.6.1
mkdocs-material==9.5.40
mkdocs-minify-plugin==0.8.0
mkdocs-git-revision-date-localized-plugin==1.2.7
mkdocs-include-markdown-plugin==7.1.8
pymdown-extensions==10.10
pygments==2.18.0
